body {
    background-color: bisque;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    margin: 0px;
}


.nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px 20px 0px;

}

a {
    padding: 15px;
}


img {
    float: left;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'The Nautigal', Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

p {
    text-align: justify;
    padding: 0px 20px;
}